/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background image for the body */
body {
    background-image: url('Bg.png'); /* Replace 'background.jpg' with your image file path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333; /* Default text color */
}

/* Add a subtle border to all images */
img {
    border: 1px solid #ddd;
}

/* Header styles */
header {
    background-color: rgb(38, 138, 163);
    color: #fff;
    padding: 10px 0;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    mix-blend-mode: multiply;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
}
header img {
    outline: none; 
    max-width: 15%;
    max-height: 15%;
    border: none;
}


/* Hero section styles */
.hero {
     padding: 100px 0;
    text-align: center;
}

.hero-content h1 {
    font-size: 36px;
    color: #4b6eb9;
}

.hero-content p {
    font-size: 21px;
    margin-top: 20px;
    }

.cta-button {
    display: inline-block;
    background: #9bc3ee;
    color: rgb(16, 24, 48);
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: aquamarine;
    margin-top: 20px;
    transition: 0.5s;
}

.cta-button:hover {
    background: #7ea5cf;
} 

/* Services section styles */
.services {
    padding: 80px 0;
    text-align: center;
}

.service h3 {
    font-size: 30px;
    color: #290c0c;
}

/* Contact section styles */
.contact {
    background: rgba(28, 114, 151, 0.308);
    padding: 80px 0;
    text-align: center;
}

form label {
    font-size: 18px;
    color: #2b0b0b
}